<header class="header">
	<p>Header content here..</p>
	<div>
		<a ui-sref="login" href="" type="button" class="btn-btn-warning btn-sm pull-right">Logout</a>
	</div>
</header>
	<aside class="sidebar">
		<p>Sidebar content</p>
	</aside>
	<article class="content" ui-view>
		
	</article>
<footer class="footer">
	<p>Footer content here..</p>
</footer>