<div class="container center-block b-0 brd-2 m-t-25">
  <form>
    <div class="form-group row">
      <label for="Username" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="Username" placeholder="Username">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-4">
        <button type="submit" class="btn btn-primary" ng-click="vm.login()">Sign in</button>
      </div>
    </div>
  </form>
</div>